.dlass-container {
    display: flex;
    height: 50px;
    border: 1px solid var(--dark);
    border-radius: 5px;
    margin: 10px;
}
.left-dlass {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: bolder;
    background-color: var(--dark);
}
.right-dlass {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.right-dlass p {
    color: var(--dark);
    margin: 0
}
.right-dlass p:first-child {
    font-size: 1.3em;
    font-weight: bolder;
    /* border-bottom: 1px solid var(--dark); */
    background-color: var(--main-color);
    color: var(--white)
}