.classes-container p, 
.classes-container h6 {
    font-family: 'Josefin Sans', sans-serif;
}
.my-classes-container h6 {
    text-align: center;
}
.classes-container {
    text-align: center;
}

.card .card-action a.my-text-dark:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: var(--dark);
    
}
.card-action.classes-btn {
    border-top: none
}
.btn.classes-btn {
    font-size: 1em;
    margin: 0
}

.class-sider {
    max-width: 100px;
    max-height: 150px;
    margin: 10px;
}
.my-class-card {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.inner-class-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-container-class {
    display: flex;
    width: 100%
}
.and-background {
    font-size: 2em;
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
}
.left-class {
    width: 40%;
    padding-right: 20px;
}
.right-class,
.left-class {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.left-class {
    width: 40%;
    padding-right: 20px;
}

.classes-container .label-class,
.my-classes-container .label-class,
.class-page .label-class,
.schedule .label-class,
.signup-page .label-class,
.dlass .label-class {
    position: absolute;
    background-color: var(--white);
    top: -38px;
    left: 10px;
    padding: 0 8px;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
}

.my-outline-class,
.class-page .my-outline-class,
.schedule .my-outline-class,
.signup-page .my-outline-class,
.dlass .my-outline-class {
    position: relative;
    border-top: 2px solid var(--dark);
    border-bottom: 2px solid var(--dark);
    margin-top: 25px; 
}
.classes-container .my-outline-class h6,
.my-classes-container .my-outline-class h6,
.class-page .my-outline-class h6 {
    margin: 20px;
}
.class-page .my-outline-class h6 {
    font-size: 1.3em;
    text-align: center;
}
.classes-container .my-outline-class h6 span {
    font-weight: bolder;
    background-color: rgba(0,0,0,0.15);
}
.my-classes-container .my-outline-class {
    margin-bottom: 20px;
}

.my-class-card-left {
    background-color: var(--dark);
    color: var(--white);
    border: 1px solid var(--dark);
    display: flex;
    align-items: center;
}
.my-class-card-left h5 {
    text-align: center;
}
.my-class-card-right {
    /* display: none; */
}
/* .my-class-card {
    margin: 0;
} */
.submit-form {
    margin: 20px;
    width: 100%;
    display: flex;
    align-items: space-between;
}
.submit-form input {
    width: 66%;
    /* margin: 10px; */
}
.my-class-delete:hover {
    opacity: .76;
    transition: opacity .5s;
}
.my-class-delete {
    position: absolute;
    right: 5px;
    top: 8px;
    opacity: 1;
    transition: opacity .5s;
}
.go-to-class-link {
    position: relative;
    /* top: 50px; */
}
.enroll-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 0;
    height: 50vh
}
.enroll-div h5 {
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .inner-class-card {
        width: 100%;
    }
    .my-outline-class {
        border-radius: 5px;
        border: 2px solid var(--dark)
    }
    .classes-container .label-class,
    .my-classes-container .label-class,
    .class-page .label-class,
    .signup-page .label-class {
        font-size: 2em;
        left: 20px;
        top: -58px;
    }
    .my-classes-container .label-class.non-title {
        font-size: 1.5em;
        left: 10px;
        top: -45px;
    }
    .my-class-card-right {
        display: block;
        border: 1px solid var(--dark);
    }
    .my-class-card-right h5 {
        text-align: center;
    }
    .submit-form { 
        justify-content: center;
    }
    .submit-form input {
        width: 33%;
    }
    .go-to-class-link {
        position: absolute;
        top: 8px;
        right: 55px;
    }
}
